cursor {
    position: absolute;
    display: inline-block;
    width: 2px;
    background-color: dodgerblue;
    white-space: pre-wrap
    /*z-index:10;*/
}

cursor-flag {
    position: absolute;
    background-color: inherit;
    top: 0px;
    font-size: 0px;
    color: white;
    height: 6px;
    width: 6px;
    left: -2px;
    pointer-events: auto;
}

cursor-flag:hover {
    height: 14px;
    width: unset;
    padding: 1px 5px 0px 5px;
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
}

selected-text {
    opacity: 0.4;
}

.mirror {
    pointer-events: none;
}

.mirror_color {
    color: transparent;
    pointer-events: none;
}

.mirror_scroll::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.00);
    width: 0px;
}

[mirror_id][contenteditable] {
    white-space: pre-wrap
}